<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Foodplanner</title>
        <meta name="description" content="backbone practice">
        <meta name="author" content="Mangamaui">

        <link rel="stylesheet" href="styling/main.css">
    </head>

    <body>
        <div class="wrap">
            <header>
                <h1>Foodplanner</h1>
            </header>
            <div class="main">
                <div class="wrapper">
                </div>
            </div>
            <footer>
                
            </footer>
        </div>

        <script id="dishTemplate" type="text/template">
            <h2><%= title %></h2>
            <p><%= ingredients %></p>
            <p><%= categories %></p>
        </script>

        <script id="dayTemplate" type="text/template">
            <h2><%= name %></h2>
            <p><%= dish %></p>
        </script>

         <script id="addDishTemplate" type="text/template">
            <div class="popup">
                <h2>Add a new dish</h2>
                <form>
                    <label for="ipDishtitle">Dish title:</label>
                    <input type="text" id="ipDishtitle" name="ipDishtitle" class="ipDishtitle" />
                    <label for="ipDishingredients">ingredients</label>
                    <input type="text" id="ipDishingredients" name="ipDishingredients" class="ipDishingredients" />
                    <input type="submit" />
                </form>
            </div>
        </script>

        <script src="scripts/vendor/jquery.min.js"></script>
        <script src="scripts/vendor/underscore.js"></script>
        <script src="scripts/vendor/backbone.js"></script>
        <script src="scripts/general.js"></script>
        <script src="scripts/models.js"></script>
        <script src="scripts/collections.js"></script>
        <script src="scripts/views.js"></script>
        <script src="scripts/main.js"></script>
    </body>
</html>
